body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("background.jpg");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;
  border-radius:10px;*/
  position: absolute;
  transition: 1s
}

.dancer:hover{
  transform: rotate(720deg);
}
.linedup{
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80%;
  
}

.dancer.linedupDancer{
  position: inherit;
}